@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;900&display=swap');
body {
    background-color: #eeeeee;
}

#container {
    text-align: center;
    display: flex;
    justify-content: center;
}

#grid {
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
}

#grid td {
    width: 100px;
    height: 100px;
    border: 5px solid #828282;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 5em;
    line-height: 90px;
    cursor: not-allowed;
}

.grid--x {
    color: #f43232;
}

.grid--o {
    color: #4361ed;
}

.highlight {
    background-color: white !important;
}

.pointer {
    cursor: pointer !important;
}

#gameText {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 1em;
}