@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;900&display=swap');
body {
    background-color: #bbbbbb;
}

#container {
    text-align: center;
    display: flex;
    justify-content: center;
}

#grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

#grid div {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 2px solid #bbbbbb;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 5em;
    line-height: 90px;
}

.grid--x {
    color: #f43232;
}

.grid--o {
    color: #4361ed;
}

.highlight {
    background-color: #fcf6ad !important;
}

#gameText {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
}