#container {
    text-align: center;
    display: flex;
    justify-content: center;
}

#grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

#grid div {
    width: 100px;
    height: 100px;
    border: 1px solid darkgray;
}